<h1>Portfolio Items</h1>
<%=link_to "Create a New Item", new_portfolio_path %>

<% @portfolio_items.each do |item| %>
  <p><%=item.title %></p>
  <p><%=item.subtitle %></p>
  <p><%=item.body %></p>
  <%=image_tag item.thumbnail_image unless item.thumbnail_image.nil?%>
  <%= link_to "Edit", edit_portfolio_path(item.id) %>
<%end%>

